h1{
    margin-left: 3rem;
    font-weight: 400;
}
li{
    list-style: none;
    margin-left: 2rem;
    padding-top: 8px;
    font-size: 1.3rem;
}
.navbar>nav{
    display: flex;
    justify-content: space-around;

}
ul{
    display: flex;
}
img[src="Image/lap.jpeg"]{
    height: 100vh;
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.skills{
    display: flex; 
}
.skills>div{
    margin-left: 1vw;
    width: 30vw;
    text-align: center;
    margin-top: 1rem; 
}
.skills>div>p{
   padding: 1rem; 
}
.footer{
    height: 80px;
    background-color: black;
    color: white ;
    text-align: center;
}
.footer>p{
    font-size: 25px;
}
a:link,a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    color: lightpink;
}
a{
    text-decoration: none;
}

